.active {
  color: white;
  font-weight: bold;
  background-color: rgb(13, 140, 156);
}

h3 { 
  color: rgb(13, 140, 156);
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  color: rgb(13, 140, 156);
  font-weight: bold;
}

.home_content {
  padding-top: 3%;
  margin-left: 4%;
  margin-right: 2%;
  background-color: white;
  width: 700px;
}

.sidebar {
  padding-top: 3%;
  margin-left: 2%;
  margin-right: 4%;
  width: 455px;
  background-color: white;
  float: right;
  height: 100%;
  overflow: visible;
}

.floated {
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

.img_padding {
  padding: 20px;
}

.img_padding-index {
  padding: 10px;
}

.comp-content {
  padding-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: white;
  width: 1160px;
}

.img-center {
  text-align: center;
}

.img-border {
  border: 3px solid rgb(13, 140, 156);
  margin-left: 2%;
}

.spacing {
  line-height: 30px;
}

/* .box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
} */


/* h1 {
  color: slateblue;
  text-align: center;
  background-color: thistle;
}

h2 {
  color: indigo;
}

h3 {
  color: steelblue;

}

img {
  box-shadow: 15px 15px 2px black;
}

section {
background-color: slategrey;
}

p {
font-size: 18px
}

ul {
border-style: solid;
  border-width: 2px;
}

.vals_class {
    font-size: 30px;
}

#vals_id {
    font-size: 22px;
} */