.navbar {
  background-color: #F8F9FA;
}

.sidebar:hover {
  border-color: rgb(13, 140, 156);
  border-style: solid;
}

.navbar-brand {
  padding: 10px;
  margin-left: 1%;
  color: white;
}

.navbar-expand-lg {
  color: #F8F9FA;
}

.navbar-brand:hover {
  color: white;
}

h3 { 
  color: rgb(13, 140, 156);
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  color: rgb(13, 140, 156);
  font-weight: bold;
}

.box {
  margin-top: 10px;
  margin-bottom: 60px;
  padding: 25px 30px 10px;
  background-color: white;
}

.floated {
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

.img-full {
  width: 100%;
  height: 100%;
}

.img-border {
  border-color: rgb(13, 140, 156);
  border-style: solid;
}

.img-center {
  text-align: center;
}

.spacing {
  line-height: 30px;
}

@media(max-width: 992px) {
  .navbar.navbar-expand-lg {
    background-color: rgb(13, 140, 156);
  }

  .navbar div {
    background-color: white;
  }
    
  .navbar {
    padding: inherit; 
  }

  .navbar-expand-lg {
    background-color: rgb(13, 140, 156);
  }

  .navbar-collapse {
  background-color: white;
  padding: 20px;
  }

}